*{

margin:0;
padding:0;
box-sizing:border-box;
font-family:Arial;

}


body{

height:100vh;
background:#080808;
color:white;

display:flex;
align-items:center;
justify-content:center;

}



.auth-box{

width:380px;

background:#111;

padding:40px;

border-radius:20px;

text-align:center;

border:1px solid #222;

}



.auth-logo{

width:160px;

margin-bottom:30px;

}



h1{

margin-bottom:30px;

}



input{

width:100%;

padding:14px;

margin-bottom:15px;

background:#222;

border:none;

border-radius:8px;

color:white;

}



button{

width:100%;

padding:14px;

background:#8b5cf6;

border:none;

border-radius:8px;

color:white;

cursor:pointer;

}



button:hover{

opacity:.85;

}



p{

margin-top:20px;

color:#aaa;

}



a{

color:#8b5cf6;

text-decoration:none;

}
